@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background: #2c3e50 no-repeat 50%/cover;
    min-height: 100vh;
    color: #212529;
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
}
#root{
    min-height: 100vh;
    background-image: url('../images/details2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}
.motha-dibba{
    width: 100vw;
    min-height: 100vh;
    margin: 0 0 !important;
    color: #fff !important;
}
.lahan-dibba{
    margin:0 auto;
}
.photo-dibba img{
    width: 100%;
}
.photo-dibba {
   display: flex;
   flex-direction: column;
}
.info-dibba{
    border: 2px solid transparent;
    border-radius: 0 3px 3px 0;
    padding: 15px!important;
    background-color: rgba(0, 0, 0, 0.85);
}
.green-text{
    font-size: 24px;
    font-weight: 400;
    color: #00ff95 !important;
}